[Desktop Entry]
Icon=application-pdf
Name=Gray-Hat-Hacking-The-Ethical-Hackers-Handbook-by-Allen-Harper.pdf
Type=Link
URL[$e]=file:$HOME/Downloads/Gray-Hat-Hacking-The-Ethical-Hackers-Handbook-by-Allen-Harper.pdf
X-KDE-LastOpenedWith=firefox
