[Desktop Entry]
Icon=application-zip
Name=gudBG-20240116T163156Z-001.zip
Type=Link
URL[$e]=file:$HOME/Downloads/gudBG-20240116T163156Z-001.zip
X-KDE-LastOpenedWith=
